header{
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1000;
  background-color:#fff;
  border-bottom:1px solid #cccccc;
  top: 0;
  left: 0;
  .navbar{
    width: 1250px;
    height: 80px;
    //background: pink;
    margin: 0 auto;
    position: relative;
  }
  .logo{
    width: 91px;
    height: 32px;
    margin-top: 24px;
    margin-left: 10px;
    float: left;
  }
  .list{
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
    li{
      width: 100px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      font-size: 12px;
      position: relative;
      &:hover .shop-list{
        display: block;
        //transition: 1s;
      }
      .list-a{
        color: #000000;
        text-decoration: none;
        &:hover{
          color:red;
        }
      }
      .shop-list{
        width: 150px;
        height: 200px;
        background: #fff;
        position: absolute;
        left:30px;
        top: 80px;
        display: none;
        li{
          width: 130px;
          height: 40px;
          line-height: 40px;
          margin: 0 auto;
          text-align: left;
          font-size: 12px;
          border-bottom: 1px solid #cccccc;
          a{
            color: #000000;
            text-decoration: none;
            &:hover{
              color:red;
            }
          }
          &:last-child{
            border-bottom:none;
          }
        }
      }
    }
  }
  .nav-list{
    width: 500px;
    height: 80px;
    //background-color: aqua;
    float: right;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    .searchBox{
      width: 200px;
      height: 30px;
      border: 1px solid #cccccc;
      border-radius: 15px;
      line-height: 30px;
      //margin-left: 40px;
      a{
        text-decoration: none;
      }
      i{
        font-size: 10px !important;
        color: #333333;
        margin: auto 5px;
      }
      input{
        height: 20px;
        line-height: 20px;
        width: 170px;
        outline: none;
        border: none;
        color: #000000;
        font-size: 12px;
      }
      #searchUl{
        position: absolute;
        z-index: 10;
        width: 200px;
        margin-top: 22px;
        background: rgba(255, 255, 255, 0.5);
        li{
          width: 200px;
          height: 30px;
          font-size: 14px;
          color: #000000;
          padding-left: 25px;
          cursor: pointer;
          &:hover{
            color:#cccccc;
          }
        }
      }
    }
    .login{
      margin-left: 50px;
      font-size: 14px;
      a{
        color:#000000;
        &:hover{
          color:red;
          text-decoration: none;
        }
      }
    }
    .login-out{
      margin-left: 50px;
      font-size: 14px;
      display: none;
      a{
        color:#000000;
        &:hover{
          color:red;
          text-decoration: none;
        }
      }
    }
    .cart{
      margin-left: 40px;
      position: relative;
      a{
        display: block;
        width: 70px;
        height: 30px;
        line-height: 30px;
        text-decoration: none;
      }
      i{
        font-size: 20px !important;
        color: #333333;
        &:hover{
          color:red;
        }
      }
      span{
        width: 15px;
        height: 15px;
        color:#fff;
        line-height: 15px;
        text-align: center;
        font-size: 10px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 40px;
      }
      p{
        color:#333333;
        font-size: 12px;
        float: right;
        &:hover{
          color:red;
        }
      }
    }
  }
}

