@import "module/base.scss";
@import "module/header.scss";
@import "module/iconfont.css";

.login-background{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        opacity: .5;
    }
}
.form-container{
    position: absolute;
    top: 0px;
    left: 55%;
    width: 500px;
    height: 400px;
    background: rgba(255,255,255,.5);
    margin: 200px auto;
    h1{
        line-height: 100px;
        color:rgb(20, 100, 204);
    }
    .form-message{
        margin-left: 20px;
    }
}


